.drop2 {
  margin-top: 30px;
}
a:hover {
  color: black;
}
a {
  color: black;
}
.jumbotron {
  background-color: rgb(250, 250, 250) !important;
}
body {
  background-color: rgb(250, 250, 250);
}
textarea {
  resize: none;
}
