a:hover {
  color: black;
}
a {
  color: black;
}
.jumbotron {
  background-color: rgb(250, 250, 250) !important;
}
body {
  overflow-x: hidden;
}

.slider {
  max-width: 800px;
  height: 500px;
  border: 5px solid #000000;
  margin: 80px auto;
  position: relative;
  overflow: hidden;
}

.slider .left-slide,
.slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #7d7b81;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  top: 50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
}
.slider .left-slide:hover,
.slider .right-slide:hover {
  box-shadow: 0px 0px 10px black;
  background-color: #b5b2e2;
}

.slider .left-slide {
  left: 30px;
}
.slider .right-slide {
  right: 30px;
}
.slider .slider-items .item img {
  max-width: 100%;
  display: block;
  animation: zoom 1s ease;
}

@keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slider .slider-items .item {
  display: none;
  position: relative;
}
.slider .slider-items .item .caption {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

.slider .slider-items .item.active {
  display: block;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 70%;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid rgb(182, 175, 175);
  border-radius: 1.4rem;
  padding: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

/* Side column */
.side {
  flex: 24%;
  background-color: white;
  padding: 20px;
  border: 1px solid rgb(182, 175, 175);
  border-radius: 1.4rem;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
}

#profilePic {
  width: 500%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 25%;
}
#profileName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
}
#rentHeader {
  margin-top: 50px;
  margin-left: 100px;
}
#profileDescription {
  text-align: center;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
